@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@font-face 
{
    font-family: "Granaina";
    src: local("Granaina"), url(../public/granaina-limpia.ttf) format("truetype");
}

body {
    margin: 0;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #d9ccbf;
}

#content {
    min-height: calc(100vh - 64px - 270px);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
